@import './reset.scss';
@import './sidebar.scss';
@import './element.scss';
@import './transition.scss';


div#driver-popover-item .driver-popover-title {
  color: #1890ff;
}
div#driver-popover-item .driver-popover-footer .driver-next-btn {
  background-color: #1890ff;
  color: white;
  text-shadow: none;
  border-radius: 4px;
}
